<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="container">
    <div class="logo">
      <p>MeeBuddy</p>
    </div>
    <div class="input-field">
      <input [(ngModel)]="email" class="inputCustom" placeholder="email" />
    </div>
    <div  class="input-field">
      <input  [(ngModel)]="password"  placeholder="password" />
    </div>
    <button  (click)="login()">Login</button>
    </div> 
</ion-content>
