<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="border: 1px solid rgba(4,4,4,0.7);padding:10px;margin:5px;border-radius:8px;">
    <div style="display:flex;align-items:center;justify-content:center; margin:10px 0px; ">
      <div style="width:200px; height:200px;border-radius:50%;position:relative">
         <img src="../../../assets/raja.jpg" alt="Raja" width="100%" height="100%" style="position:absolute;border-radius:50%;border: 1px solid rgba(4,4,4,0.7);">
      </div>
    </div>
    <div style="display:flex;">
      <div style="width: 50%;text-align:center"><p>Name :</p></div>
      <div style="width: 50%;"><p>Raja Shekhar</p></div>
    </div>
    <div  style="display:flex;">
      <div style="width: 50%;text-align:center"><p>Village :</p></div>
      <div style="width: 50%;"><p>Nellore</p></div>
    </div>
    <div  style="display:flex;">
      <div style="width: 50%;text-align:center"><p>Age :</p></div>
      <div style="width: 50%;"><p>26</p></div>
    </div>
  </div>
</ion-content>
